
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>API Rendex</title>
	<style>
		@import url(//fonts.googleapis.com/css?family=Lato:700);

		body {
			margin:0;
			font-family:'Lato', sans-serif;
			text-align:center;
			color: #999;
		}

		.welcome {
			width: 300px;
			height: 200px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -150px;
			margin-top: -100px;
		}

		a, a:visited {
			text-decoration:none;
		}

		h1 {
			font-size: 32px;
			margin: 16px 0 0 0;
		}
	</style>
</head>
<body>
<div class="welcome">
	<a href="http://phalcon-rest.redound.org?itsworking" title="Phalcon REST">
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		<svg width="100" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
		<path fill="#81bb5e" d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M7,11L4,8l1.5-1.5L7,8l3.5-3.5L12,6L7,11z"/>
		</svg>
	</a>
	<h1>It is working.</h1>
</div>
</body>
</html>